h1, h2, h3, h4, h5, h6, div, section, p, nav, header, br {
	margin: 0;
	padding: 0;
	
}

.group:after {
  content: "";
  display: table;
  clear: both; 
}

.group:before {
  clear: both; 
}

#top {
	width: 300px;
	height: 47px;
	margin-left: 80px;
	margin-bottom: 3px;
	
	background-size: 100px;
}

#top-swatches {
	width: 300px;
	height: 30px;
	
	margin-left: 80px;
}

#left-swatches {
	width: 30px;
	height: 250px;
	
	margin-top: 50px;
	
	float: left;
}

#left-swatches .wrapper {
	height: 95px;
}

#top-swatches .wrapper {
	width: 95px;
	text-align: center;
}
#top-swatches div {
	display: inline-block;
}

#left {
	width: 47px;
	height: 300px;
	
	margin-right: 2px;
	
	float: left;

	background-size: 100px 100px;
}

#bg {
	margin-left: 315px;
}

#css {
	border: 3px solid black;
	width: 169px;
	height: 50px;
	
	overflow: scroll;
	
	margin-bottom: 16px;
}

#css-controls {
	margin-top: 16px;
}

#display {
/*	padding-left: 25px;*/
	margin-left: 80px;
	height: 350px;
	width: 350px;
}

.center {
	text-align: center;
}

#color-controls {
	border-bottom: 3px solid black;
}

#plaid {
	width: 300px;
	height: 300px;

	margin-bottom: 12px;
	
	background-color: black;
	background-size: 100px;
	
	border: 3px dotted black;

}

hr {
	width: 300px;
	margin-top: 4px;
}

h1 {
	margin-top: 24px;
	font-size: 36px;
}

#logo {
	width: 75px;
	height: auto;
	
	padding: 12px 0;
}

#controls-wrapper {
	float: left;
}

#controls-wrapper input {

}

#plaid-wrapper {
	float: right;
	width: 400px;
	height: 400px;
}

#main {
	max-width: 600px;
	margin: auto;
}

#main-wrapper {
	width: 100%;
	padding: 40px 0 60px 0;
}

#swatch {
	width: 44px;
	height: 44px;
	
	margin: auto;
	
	border: 3px solid black;
}

.small-swatch {
	width: 14px;
	height: 14px;
	
	border-radius: 10px;
	
	border: 3px solid black;
}

#sliders {
	width: 175px;
	margin: 20px 0;
}

label {
	font-size: 8px;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: gray;
		border-radius: 3px;
    height:7px;
/*		vertical-align: baseline;*/
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:blue;
    height:10px;
    width:10px;
		border-radius: 5px;
		border: 3px solid black;
}

input[type='range'].red::-webkit-slider-thumb  {
    background: rgba(255, 0, 0, 1.0);
}

input[type='range'].green::-webkit-slider-thumb  {
    background: rgba(0, 255, 0, 1.0);
}

input[type='range'].blue::-webkit-slider-thumb  {
    background: rgba(0, 0, 255, 1.0);
}

input[type='range'].opacity::-webkit-slider-thumb  {
    background: rgba(255, 255, 255, 1.0);
}

button {
	font-size: 14px;
	font-style: bold;
	
	color: white;
	background-color: #777;
	border: none;
	
	padding: 10px;
	margin-bottom: 16px;
}

header {
	text-align: center;
}

body {
    font-family: "Futura", "Avenir", sans-serif;
}